/*====================================================
custom color
====================================================*/
$dark:        #000000;
$gray:        #707070;
$rose-white:  #FBF2F2;
$red:         #AA0601;
$dark-red:    #650300;
$brown:       #5F3E2D;
$brown:       #5F3E2D;
$wood:       #B75929;

/*====================================================
settings
====================================================*/
* {
  box-sizing: border-box;
  word-break: break-all;
}
html {
  font-size: 62.5%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  @include fontSans;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $dark;
  font-weight: normal;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
::-moz-selection {
  background: $red;
  color: $rose-white;
}
::selection {
  background: $red;
  color: $rose-white;
}

.fontRoboto{
  @include fontRoboto;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: normal;
  &.italic{
    font-style: italic;
  }
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10rem 5rem;
  @include md{
    padding: 5rem 1.5rem;
  }
}

.bgRoseWhite{
  background-color: $rose-white;
}

.commonTitle{
  font-size: 4.8rem;
  font-weight: bold;
  border-left: 8px solid $red;
  margin-bottom: 4rem;
  padding-left: 2rem;
  @include md{
    font-size: 2.4rem;
    padding-left: 1rem;
  }
}