/*====================================================
Placeholder(佔位符)
====================================================*/
%detail-box{
    border: 1px solid #00000020;
    flex-grow: 1;
    p{
        font-size: 2.4rem;
        padding: 0.8rem 2.4rem;
    }
    ul{
        border-top: 1px solid #00000020;
        padding: 1.6rem 2.4rem;
        li{
            font-size: 2rem;
            position: relative;
            padding-left: 2.5rem;
            &:before{
                font-family: "Material Symbols Outlined";
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
            }
            &+li{
                margin-top: 0.8rem;
            }
            span{
                margin-top: -0.4rem;
                display: inline-flex;
                vertical-align: middle;
            }
            a{
                text-decoration: none;
                color: $dark;
            }
            &.call{
                &:before{
                    content: "\e0b0";
                }
            }
            &.schedule{
                &:before{
                    content: "\e8b5";
                }
            }
            &.location{
                &:before{
                    content: "\e0c8";
                }
            }
        }
    }
}

/*====================================================
門市據點 Common
====================================================*/
.selectStoreBox{
    font-size: 2.4rem;
    margin-bottom: 4rem;
    select{
        margin: 0 0 0 1rem;
        padding: 0.4rem 0.75rem 0.4rem 1rem;
        background: $white;
        border: 1px solid #CED4DA;
        outline: none;
        // -webkit-appearance: none;
        // -moz-appearance: none;
        // appearance: none;
        @include fontSans;
        color: rgba(#495057, 0.7);
        width: 304px;
        font-size: 1.8rem;
        &:invalid {
            color: $dark;
        }
        option {
            color: $dark;
            &:first-child {
                color: $dark;
            }
        }
    }
    @include sm{
        font-size: 1.6rem;
        select{
            width: calc(100% - 8.4rem);
        }
    }
}

/*====================================================
門市據點 總頁
====================================================*/
.storeList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    &Item {
        width: calc((100% - 4.8rem)/3);
        display: flex;
        flex-direction: column;
        &:not(:nth-of-type(3n - 2)){
            margin-left: 2.4rem;
        }
        &:nth-of-type(n+4){
            margin-top: 4.8rem;
        }
        .detailBox{
            @extend %detail-box;
        }
        .storeBtn{
            a{
                display: block;
                text-decoration: none;
                color: $white;
                background-color: $dark;
                text-align: center;
                padding: 1.6rem;
                font-size: 1.9rem;
            }
        }
        @include lg{
            width: calc((100% - 2.4rem)/2);
            &:not(:nth-of-type(3n - 2)){
                margin-left: initial;
            }
            &:nth-of-type(2n){
                margin-left: 2.4rem;
            }
            &:nth-of-type(n+3){
                margin-top: 4.8rem;
            }
        }
        @include sm{
            width: 100%;
            &:nth-of-type(2n){
                margin-left: initial;
            }
            &:nth-of-type(n+2){
                margin-top: 4.8rem;
            }
        }
    }
}

/*====================================================
門市據點 內頁
====================================================*/
.storeInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .adressBox{
        width: calc(42% - 2rem);
        min-width: 400px;
        margin-right: 2rem;
        .img{
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .detailBox{
            @extend %detail-box;
        }
    }
    .googleMap{
        width: 58%;
        position: relative;
        padding-top: 36.5%;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    @include lg{
        display: block;
        .adressBox{
            display: flex;
            justify-content: space-between;
            width: 100%;
            min-width: inherit;
            margin: 0 0 2.4rem;
            .img,.detailBox{
                width: calc((100% - 2.4rem)/2);
                flex-grow: inherit;
            }
        }
        .googleMap{
            width: 100%;
            padding-top: 60%;
        }
    }
    @include md{
        .adressBox{
            display: block;
            .img,.detailBox{
                width: 100%;
            }
        }
    }
}