.mainVisual{
    position: relative;
    z-index: 0;
    .imgBox{
        img{
            width: 100%;
            height: auto;
        }
    }
    .textBox{
        position: absolute;
        inset: 30% 0;
        z-index: 1;
        padding: 1.6rem 5rem;
        text-align: right;
        .subText,.titleText{
            color: $dark-red;
        }
        .subText{
            font-size: 3.6rem;
        }
        .titleText{
            font-size: 6.4rem;
            font-weight: bold;
        }
        .btnText{
            color: #fff;
            background-color: $red;
            display: inline-block;
            padding: 0.5rem 1.2rem;
            font-size: 2rem;
        }
    }
}

main{
    .container{
        padding: 10rem 5rem;
        .topPageTitle{
            font-size: 4.8rem;
            color: $dark-red;
            font-weight: bold;
            text-align: center;
            margin-bottom: 4rem;
            &.textWhite{
                color: #fff;
            }
        }
    }
    .topSectionOne{
        ul{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            li{
                width: calc((100% - 12rem)/4);
                text-align: center;
                &+li{
                    margin-left: 4rem;
                }
                .icon{
                    img{
                        width: 100%;
                        max-width: 100px;
                        height: auto;
                    }
                }
                dl{
                    dt{
                        color: $dark-red;
                        font-size: 2.4rem;
                        font-weight: bold;
                        margin: 1rem 0;
                    }
                    dd{
                        text-align: left;
                    }
                }
                @include md{
                    width: calc((100% - 4rem)/2);
                    &:nth-of-type(2n - 1){
                        margin-left: 0;
                    }
                    &:nth-of-type(n+3){
                        margin-top: 4rem;
                    }
                }
            }
        }
    }
    .topSectionTwo{
        .seriesList{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            &Item{
                width: calc((100% - 6rem)/3);
                &+.seriesListItem{
                    margin: 0 0 0 3rem;
                }
                a{
                    text-decoration: none;
                    color: $red;
                    text-align: center;
                    p{
                        margin-top: 1.5rem;
                        font-size: 4.8rem;
                        font-weight: bold;
                        line-height: 1;
                    }
                }
            }
            @include md{
                display: block;
                &Item{
                    width: 80%;
                    margin: 0 auto;
                    &+.seriesListItem{
                        margin: 4rem auto 0;
                    }
                }
            }
        }
    }
    .topSectionThree{
        background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true") center / cover;
        .classicList{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            &Item{
                width: 50%;
                text-align: center;
                a{
                    text-decoration: none;
                    color: $red;
                    background-color: #fff;
                    display: block;
                    p{
                        font-size: 4.8rem;
                        font-weight: bold;
                        line-height: 1;
                        padding: 1rem;
                    }
                }
            }
            @include md{
                display: block;
                &Item{
                    width: 100%;
                    &+.classicListItem{
                        margin-top: 2rem;
                    }
                }
            }
        }
    }


    .topSectionFour{
        .recommendList {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            &Item{
                width: calc((100% - 6rem)/4);
                box-shadow: 0px 2px 6px #00000029;
                border-radius: 0.4rem;
                display: flex;
                flex-wrap: wrap;
                &:not(:last-of-type){
                    margin-right: 2rem;
                }
                .img{
                    width: 100%;
                    img{
                        width: 100%;
                        height: auto;
                        border-radius: 0.4rem 0.4rem 0 0;
                    }
                }
                .textBox {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 1.6rem;
                    time {
                        margin-top: 5rem;
                        color: $gray;
                    }
                }
                @include lg{
                    width: calc((100% - 2rem)/2);
                    &:not(:last-of-type){
                        margin-right: initial;
                    }
                    &:nth-of-type(2n){
                        margin-left: 2rem;
                    }
                    &:nth-of-type(n+3){
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
    .topSectionFive{
        .container{
            max-width: 736px;
            .contactBox{
                margin-top: 4rem;
                &>div{
                    margin-bottom: 2rem;
                }
                %set-form{
                    margin: 0;
                    padding: 0.2rem 0.8rem !important;
                    width: 100%;
                    background: $rose-white;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    font-size: 1.6rem!important;
                    color: $dark;
                    min-height: 36px;
                    @include fontSans;
                    &::placeholder {
                        color: rgba($dark, 0.2);
                    }
                }
                label{
                    display: block;
                    margin-bottom: 0.5rem;
                }
                input{
                    &[type="text"],
                    &[type="email"],
                    &[type="number"],
                    &[type="tel"]{
                        @extend %set-form;
                        border: 1px solid $dark;
                    }
                    &[type="checkbox"] {
                        position: relative;
                        margin: 0;
                        width: 1.8rem;
                        min-width: 1.8rem;
                        height: 1.8rem;
                        border: 1px solid $dark;
                        vertical-align: -5px;
                        -webkit-appearance: none;
                           -moz-appearance: none;
                                appearance: none;
                        &:checked{
                            background-color: $red;
                            &:before {
                                content: '';
                                position: absolute;
                                top: 1px;
                                left: 5px;
                                transform: rotate(50deg);
                                width: 0.4rem;
                                height: 0.8rem;
                                border-right: 0.3rem solid #fff;
                                border-bottom: 0.3rem solid #fff;
                            }
                        }
                      }
                }
                textarea {
                    @extend %set-form;
                    border: 1px solid $dark;
                    resize: none;
                    height: 136px !important;
                }
                .agree{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    label{
                        display: inline-block;
                        margin: 0 0 0 1rem;
                        cursor: pointer;
                    }
                }
                .submitBtn{
                    display: block;
                    color: #fff;
                    background-color: $red;
                    padding: 1.6rem;
                    border: initial;
                    transition: 0.3s;
                    font-size: 1.6rem;
                    @include fontSans;
                    cursor: pointer;
                    width: 80%;
                    margin: 4rem auto 0;
                    &:hover{
                        background-color: $dark-red;
                    }
                }
            }
        }
    }
}