/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*====================================================
font
====================================================*/
/*====================================================
Breakpoints
====================================================*/
/*====================================================
custom color
====================================================*/
/*====================================================
settings
====================================================*/
* {
  box-sizing: border-box;
  word-break: break-all;
}

html {
  font-size: 62.5%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Noto Sans TC", serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #000000;
  font-weight: normal;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

::-moz-selection {
  background: #AA0601;
  color: #FBF2F2;
}

::selection {
  background: #AA0601;
  color: #FBF2F2;
}

.fontRoboto {
  font-family: "Roboto", serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: normal;
}
.fontRoboto.italic {
  font-style: italic;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10rem 5rem;
}
@media screen and (max-width: 767.98px) {
  .container {
    padding: 5rem 1.5rem;
  }
}

.bgRoseWhite {
  background-color: #FBF2F2;
}

.commonTitle {
  font-size: 4.8rem;
  font-weight: bold;
  border-left: 8px solid #AA0601;
  margin-bottom: 4rem;
  padding-left: 2rem;
}
@media screen and (max-width: 767.98px) {
  .commonTitle {
    font-size: 2.4rem;
    padding-left: 1rem;
  }
}

.imageZoomSquare a .img, .imageZoomHorizontal a .img {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.imageZoomSquare a .img img, .imageZoomHorizontal a .img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  -o-object-fit: cover;
  transition: all 0.5s ease-in-out;
  left: 0;
}
.imageZoomSquare a:hover .img img, .imageZoomHorizontal a:hover .img img {
  transform: scale(1.2);
}

.imageZoomSquare a .img {
  padding-top: 100%;
}

.imageZoomHorizontal a .img {
  padding-top: 37%;
}

header {
  background-color: #AA0601;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
header .headerInner {
  padding: 1.6rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  header .headerInner {
    padding: 0rem;
    display: block;
  }
  header .headerInner h1 {
    padding: 1.6rem 1.5rem;
  }
}
header .headerInner nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .headerInner nav ul li {
  margin-left: 6rem;
}
header .headerInner nav ul li a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 767.98px) {
  header .headerInner nav ul {
    flex-wrap: wrap;
  }
  header .headerInner nav ul li {
    width: 50%;
    margin-left: 0;
    border-top: 1px solid #fff;
  }
  header .headerInner nav ul li a {
    text-align: center;
    display: block;
    padding: 1rem;
  }
  header .headerInner nav ul li:nth-of-type(2n) {
    border-left: 1px solid #fff;
  }
}

.positionBlock {
  height: 80.56px;
}
@media screen and (max-width: 767.98px) {
  .positionBlock {
    height: 170.56px;
  }
}

footer {
  background-color: #AA0601;
  color: #fff;
}
footer .footerInner {
  padding: 5rem;
}
@media screen and (max-width: 767.98px) {
  footer .footerInner {
    padding: 5rem 1.5rem;
    position: relative;
  }
}
footer .footerInner .topBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerInner .topBox nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .footerInner .topBox nav ul li {
  margin-right: 6rem;
}
footer .footerInner .topBox nav ul li a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 991.98px) {
  footer .footerInner .topBox nav ul li {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 767.98px) {
  footer .footerInner .topBox nav {
    display: none;
  }
}
footer .footerInner .topBox .socialIconBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .footerInner .topBox .socialIconBox li {
  margin-left: 3rem;
}
footer .footerInner .topBox .socialIconBox li a img {
  width: 4.8rem;
  height: auto;
}
@media screen and (max-width: 767.98px) {
  footer .footerInner .topBox .socialIconBox li {
    margin-left: 1.5rem;
  }
  footer .footerInner .topBox .socialIconBox li a img {
    width: 2.4rem;
  }
}
@media screen and (max-width: 767.98px) {
  footer .footerInner .topBox {
    position: absolute;
    top: 5rem;
    right: 1.5rem;
  }
}
footer .footerInner .infoBox {
  margin: 3rem 0;
  padding-bottom: 3rem;
  border-bottom: 1px solid #fff;
}
footer .footerInner .infoBox li a {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 3.6rem;
}
footer .footerInner .infoBox li a .icon {
  font-size: 4rem;
  margin-right: 1rem;
}
@media screen and (max-width: 767.98px) {
  footer .footerInner .infoBox li a {
    font-size: 1.6rem;
  }
  footer .footerInner .infoBox li a .icon {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767.98px) {
  footer .footerInner .infoBox {
    margin: 0 0 3rem;
  }
}
footer .footerInner .underBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerInner .underBox ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .footerInner .underBox ul li {
  margin-left: 6rem;
}
footer .footerInner .underBox ul li a {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 767.98px) {
  footer .footerInner .underBox ul li {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 767.98px) {
  footer .footerInner .underBox {
    display: block;
  }
  footer .footerInner .underBox ul {
    justify-content: flex-start;
    margin-top: 2rem;
  }
  footer .footerInner .underBox ul li {
    margin-left: inherit;
  }
  footer .footerInner .underBox ul li + li {
    margin-left: 2rem;
  }
}

.mainVisual {
  position: relative;
  z-index: 0;
}
.mainVisual .imgBox img {
  width: 100%;
  height: auto;
}
.mainVisual .textBox {
  position: absolute;
  inset: 30% 0;
  z-index: 1;
  padding: 1.6rem 5rem;
  text-align: right;
}
.mainVisual .textBox .subText, .mainVisual .textBox .titleText {
  color: #650300;
}
.mainVisual .textBox .subText {
  font-size: 3.6rem;
}
.mainVisual .textBox .titleText {
  font-size: 6.4rem;
  font-weight: bold;
}
.mainVisual .textBox .btnText {
  color: #fff;
  background-color: #AA0601;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: 2rem;
}
@media screen and (max-width: 991.98px) {
  .mainVisual .textBox .subText {
    font-size: 2.8rem;
  }
  .mainVisual .textBox .titleText {
    font-size: 4rem;
  }
}
@media screen and (max-width: 575.98px) {
  .mainVisual .textBox {
    padding: 1.6rem 1.5rem;
  }
  .mainVisual .textBox .subText {
    font-size: 1.6rem;
  }
  .mainVisual .textBox .titleText {
    font-size: 2.4rem;
  }
}

main .container .topPageTitle {
  font-size: 4.8rem;
  color: #650300;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4rem;
}
main .container .topPageTitle.textWhite {
  color: #fff;
}
@media screen and (max-width: 767.98px) {
  main .container .topPageTitle {
    font-size: 2.4rem;
  }
}
main .topSectionOne ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
main .topSectionOne ul li {
  width: calc((100% - 12rem) / 4);
  text-align: center;
}
main .topSectionOne ul li + li {
  margin-left: 4rem;
}
main .topSectionOne ul li .icon img {
  width: 100%;
  max-width: 100px;
  height: auto;
}
main .topSectionOne ul li dl dt {
  color: #650300;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 1rem 0;
}
main .topSectionOne ul li dl dd {
  text-align: left;
}
@media screen and (max-width: 991.98px) {
  main .topSectionOne ul li {
    width: calc((100% - 4rem) / 2);
  }
  main .topSectionOne ul li:nth-of-type(2n - 1) {
    margin-left: 0;
  }
  main .topSectionOne ul li:nth-of-type(n+3) {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 767.98px) {
  main .topSectionOne ul {
    display: block;
  }
  main .topSectionOne ul li {
    width: initial;
  }
  main .topSectionOne ul li + li {
    margin: 2rem 0 0;
  }
  main .topSectionOne ul li dl dd {
    display: inline-block;
  }
}
main .topSectionTwo .seriesList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
main .topSectionTwo .seriesListItem {
  width: calc((100% - 6rem) / 3);
}
main .topSectionTwo .seriesListItem + .seriesListItem {
  margin: 0 0 0 3rem;
}
main .topSectionTwo .seriesListItem a {
  text-decoration: none;
  color: #AA0601;
  text-align: center;
}
main .topSectionTwo .seriesListItem a p {
  margin-top: 1.5rem;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 991.98px) {
  main .topSectionTwo .seriesListItem {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767.98px) {
  main .topSectionTwo .seriesList {
    display: block;
  }
  main .topSectionTwo .seriesListItem {
    width: 100%;
  }
  main .topSectionTwo .seriesListItem + .seriesListItem {
    margin: 4rem auto 0;
  }
}
main .topSectionThree {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true") center/cover;
}
main .topSectionThree .classicList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
main .topSectionThree .classicListItem {
  width: 50%;
  text-align: center;
}
main .topSectionThree .classicListItem a {
  text-decoration: none;
  color: #AA0601;
  background-color: #fff;
  display: block;
}
main .topSectionThree .classicListItem a p {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1;
  padding: 1rem;
}
@media screen and (max-width: 767.98px) {
  main .topSectionThree .classicList {
    display: block;
  }
  main .topSectionThree .classicListItem {
    width: 100%;
  }
  main .topSectionThree .classicListItem + .classicListItem {
    margin-top: 2rem;
  }
}
main .topSectionFour .recommendList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main .topSectionFour .recommendListItem {
  width: calc((100% - 6rem) / 4);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 0.4rem;
  display: flex;
  flex-wrap: wrap;
}
main .topSectionFour .recommendListItem:not(:last-of-type) {
  margin-right: 2rem;
}
main .topSectionFour .recommendListItem .img {
  width: 100%;
}
main .topSectionFour .recommendListItem .img img {
  width: 100%;
  height: auto;
  border-radius: 0.4rem 0.4rem 0 0;
}
main .topSectionFour .recommendListItem .textBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.6rem;
}
main .topSectionFour .recommendListItem .textBox time {
  margin-top: 5rem;
  color: #707070;
}
@media screen and (max-width: 991.98px) {
  main .topSectionFour .recommendListItem {
    width: calc((100% - 2rem) / 2);
  }
  main .topSectionFour .recommendListItem:not(:last-of-type) {
    margin-right: initial;
  }
  main .topSectionFour .recommendListItem:nth-of-type(2n) {
    margin-left: 2rem;
  }
  main .topSectionFour .recommendListItem:nth-of-type(n+3) {
    margin-top: 2rem;
  }
  main .topSectionFour .recommendListItem .textBox time {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 575.98px) {
  main .topSectionFour .recommendListItem {
    width: 100%;
  }
  main .topSectionFour .recommendListItem:nth-of-type(2n) {
    margin-left: 0;
  }
  main .topSectionFour .recommendListItem:nth-of-type(n+2) {
    margin-top: 2rem;
  }
}
main .topSectionFive .container {
  max-width: 736px;
}
main .topSectionFive .container .contactBox {
  margin-top: 4rem;
}
main .topSectionFive .container .contactBox > div {
  margin-bottom: 2rem;
}
main .topSectionFive .container .contactBox textarea, main .topSectionFive .container .contactBox input[type=text], main .topSectionFive .container .contactBox input[type=email], main .topSectionFive .container .contactBox input[type=number], main .topSectionFive .container .contactBox input[type=tel] {
  margin: 0;
  padding: 0.2rem 0.8rem !important;
  width: 100%;
  background: #FBF2F2;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.6rem !important;
  color: #000000;
  min-height: 36px;
  font-family: "Noto Sans TC", serif;
}
main .topSectionFive .container .contactBox textarea::-moz-placeholder, main .topSectionFive .container .contactBox input[type=text]::-moz-placeholder, main .topSectionFive .container .contactBox input[type=email]::-moz-placeholder, main .topSectionFive .container .contactBox input[type=number]::-moz-placeholder, main .topSectionFive .container .contactBox input[type=tel]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
main .topSectionFive .container .contactBox textarea::placeholder, main .topSectionFive .container .contactBox input[type=text]::placeholder, main .topSectionFive .container .contactBox input[type=email]::placeholder, main .topSectionFive .container .contactBox input[type=number]::placeholder, main .topSectionFive .container .contactBox input[type=tel]::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
main .topSectionFive .container .contactBox label {
  display: block;
  margin-bottom: 0.5rem;
}
main .topSectionFive .container .contactBox input[type=text], main .topSectionFive .container .contactBox input[type=email], main .topSectionFive .container .contactBox input[type=number], main .topSectionFive .container .contactBox input[type=tel] {
  border: 1px solid #000000;
}
main .topSectionFive .container .contactBox input[type=checkbox] {
  position: relative;
  margin: 0;
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #000000;
  vertical-align: -5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
main .topSectionFive .container .contactBox input[type=checkbox]:checked {
  background-color: #AA0601;
}
main .topSectionFive .container .contactBox input[type=checkbox]:checked:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  transform: rotate(50deg);
  width: 0.4rem;
  height: 0.8rem;
  border-right: 0.3rem solid #fff;
  border-bottom: 0.3rem solid #fff;
}
main .topSectionFive .container .contactBox textarea {
  border: 1px solid #000000;
  resize: none;
  height: 136px !important;
}
main .topSectionFive .container .contactBox .agree {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .topSectionFive .container .contactBox .agree label {
  display: inline-block;
  margin: 0 0 0 1rem;
  cursor: pointer;
}
main .topSectionFive .container .contactBox .submitBtn {
  display: block;
  color: #fff;
  background-color: #AA0601;
  padding: 1.6rem;
  border: initial;
  transition: 0.3s;
  font-size: 1.6rem;
  font-family: "Noto Sans TC", serif;
  cursor: pointer;
  width: 80%;
  margin: 4rem auto 0;
}
main .topSectionFive .container .contactBox .submitBtn:hover {
  background-color: #650300;
}

.faqText {
  font-weight: bold;
  font-size: 2.4rem;
}

.faqListItem {
  margin-top: 4rem;
}
.faqListItem dt {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.selectStoreBox {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.selectStoreBox select {
  margin: 0 0 0 1rem;
  padding: 0.4rem 0.75rem 0.4rem 1rem;
  background: #fff;
  border: 1px solid #CED4DA;
  outline: none;
  font-family: "Noto Sans TC", serif;
  color: rgba(73, 80, 87, 0.7);
  width: 304px;
  font-size: 1.8rem;
}
.selectStoreBox select:invalid {
  color: #000000;
}
.selectStoreBox select option {
  color: #000000;
}
.selectStoreBox select option:first-child {
  color: #000000;
}
@media screen and (max-width: 575.98px) {
  .selectStoreBox {
    font-size: 1.6rem;
  }
  .selectStoreBox select {
    width: calc(100% - 8.4rem);
  }
}

.storeInfo .adressBox .detailBox, .storeListItem .detailBox {
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  flex-grow: 1;
}
.storeInfo .adressBox .detailBox p, .storeListItem .detailBox p {
  font-size: 2.4rem;
  padding: 0.8rem 2.4rem;
}
.storeInfo .adressBox .detailBox ul, .storeListItem .detailBox ul {
  border-top: 1px solid rgba(0, 0, 0, 0.1254901961);
  padding: 1.6rem 2.4rem;
}
.storeInfo .adressBox .detailBox ul li, .storeListItem .detailBox ul li {
  font-size: 2rem;
  position: relative;
  padding-left: 2.5rem;
}
.storeInfo .adressBox .detailBox ul li:before, .storeListItem .detailBox ul li:before {
  font-family: "Material Symbols Outlined";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}
.storeInfo .adressBox .detailBox ul li + li, .storeListItem .detailBox ul li + li {
  margin-top: 0.8rem;
}
.storeInfo .adressBox .detailBox ul li span, .storeListItem .detailBox ul li span {
  margin-top: -0.4rem;
  display: inline-flex;
  vertical-align: middle;
}
.storeInfo .adressBox .detailBox ul li a, .storeListItem .detailBox ul li a {
  text-decoration: none;
  color: #000000;
}
.storeInfo .adressBox .detailBox ul li.call:before, .storeListItem .detailBox ul li.call:before {
  content: "\e0b0";
}
.storeInfo .adressBox .detailBox ul li.schedule:before, .storeListItem .detailBox ul li.schedule:before {
  content: "\e8b5";
}
.storeInfo .adressBox .detailBox ul li.location:before, .storeListItem .detailBox ul li.location:before {
  content: "\e0c8";
}

.storeList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.storeListItem {
  width: calc((100% - 4.8rem) / 3);
  display: flex;
  flex-direction: column;
}
.storeListItem:not(:nth-of-type(3n - 2)) {
  margin-left: 2.4rem;
}
.storeListItem:nth-of-type(n+4) {
  margin-top: 4.8rem;
}
.storeListItem .storeBtn a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #000000;
  text-align: center;
  padding: 1.6rem;
  font-size: 1.9rem;
}
@media screen and (max-width: 991.98px) {
  .storeListItem {
    width: calc((100% - 2.4rem) / 2);
  }
  .storeListItem:not(:nth-of-type(3n - 2)) {
    margin-left: initial;
  }
  .storeListItem:nth-of-type(2n) {
    margin-left: 2.4rem;
  }
  .storeListItem:nth-of-type(n+3) {
    margin-top: 4.8rem;
  }
}
@media screen and (max-width: 575.98px) {
  .storeListItem {
    width: 100%;
  }
  .storeListItem:nth-of-type(2n) {
    margin-left: initial;
  }
  .storeListItem:nth-of-type(n+2) {
    margin-top: 4.8rem;
  }
}

.storeInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.storeInfo .adressBox {
  width: calc(42% - 2rem);
  min-width: 400px;
  margin-right: 2rem;
}
.storeInfo .googleMap {
  width: 58%;
  position: relative;
  padding-top: 36.5%;
  height: 0;
}
.storeInfo .googleMap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 991.98px) {
  .storeInfo {
    display: block;
  }
  .storeInfo .adressBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: inherit;
    margin: 0 0 2.4rem;
  }
  .storeInfo .adressBox .img, .storeInfo .adressBox .detailBox {
    width: calc((100% - 2.4rem) / 2);
    flex-grow: inherit;
  }
  .storeInfo .googleMap {
    width: 100%;
    padding-top: 60%;
  }
}
@media screen and (max-width: 767.98px) {
  .storeInfo .adressBox {
    display: block;
  }
  .storeInfo .adressBox .img, .storeInfo .adressBox .detailBox {
    width: 100%;
  }
}/*# sourceMappingURL=all.css.map */