
.pageNavigation{
    margin-top: 13.5rem;
    text-align: center;
    @include md{
        margin-top: 6.4rem;
    }
    .pagination{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $gray;
        .pageItem{
            a{
                text-decoration: none;
                color: $gray;
                padding: 1rem;
                display: inline-block;
            }
            &+.pageItem{
                border-left: 1px solid $gray;
            }
            &:last-of-type,&:first-of-type{
                a{
                    background-color: #F2F2F2;
                }
            }
            &:not(:last-of-type),&:not(:first-of-type){
                a{
                    padding: 1rem 2rem;
                    @include md{
                        padding: 1rem 1.4rem;
                    }
                }
            }
            &.disabled{
                a{
                    background-color: #fff;
                }
            }
            &.active{
                a{
                    background-color: $dark;
                    color: #fff;
                }
            }
        }
    }
}