.seriesArticle{
    .img{
        img{
            width: 100%;
            height: auto;
        }
    }
    .productInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2.4rem;
        .price{
            color: $red;
            font-weight: 500;
        }
    }
    .colorValidation{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: -0.4rem;
        li{
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 4px;
            margin: 0.4rem;
            &.color-1{
                background-color: $brown;
            }
            &.color-2{
                background-color: $wood;
            }
        }
    }
}