footer{
    background-color: $red;
    color: #fff;
    .footerInner{
        padding: 5rem;
        @include md{
            padding: 5rem 1.5rem;
            position: relative;
        }
        .topBox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            nav{
                ul{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    li{
                        margin-right: 6rem;
                        a{
                            text-decoration: none;
                            color: #fff;
                        }
                        @include lg{
                            margin-right: 2.5rem;
                        }
                    }
                }
                @include md{
                    display: none;
                }
            }
            .socialIconBox{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li{
                    margin-left: 3rem;
                    a{
                        img{
                            width: 4.8rem;
                            height: auto;
                        }
                    }
                    @include md{
                        margin-left: 1.5rem;
                        a{
                            img{
                                width: 2.4rem;
                            }
                        }
                    }
                }
            }
            @include md {
                position: absolute;
                top: 5rem;
                right: 1.5rem;
            }
        }
        .infoBox{
            margin: 3rem 0;
            padding-bottom: 3rem;
            border-bottom: 1px solid #fff;
            li{
                a{
                    display: inline-flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: #fff;
                    text-decoration: none;
                    font-size: 3.6rem;
                    .icon{
                        font-size: 4rem;
                        margin-right: 1rem;
                    }
                    @include md{
                        font-size: 1.6rem;
                        .icon{
                            font-size: 1.8rem;
                        }
                    }
                }
            }
            @include md{
                margin: 0 0 3rem;
            }
        }
        .underBox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li{
                    margin-left: 6rem;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                    @include md{
                        margin-left: 3rem;
                    }
                }
            }
            @include md{
                display: block;
                ul{
                    justify-content: flex-start;
                    margin-top: 2rem;
                    li{
                        margin-left: inherit;
                        &+li{
                            margin-left: 2rem;
                        }
                    }
                }
            }
        }
    }
}