footer{
    background-color: $red;
    color: $white;
    .footerInner{
        padding: 5rem;
        @include md{
            padding: 2.4rem 1.5rem;
            position: relative;
        }
        .topBox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            nav{
                ul{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    li{
                        margin-right: 6rem;
                        a{
                            text-decoration: none;
                            color: $white;
                            transition: 0.3s;
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                        @include lg{
                            margin-right: 2.5rem;
                        }
                    }
                }
                @include md{
                    display: none;
                }
            }
            .socialIconBox{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li{
                    margin-left: 3rem;
                    a{
                        transition: 0.3s;
                        &:hover{
                            opacity: 0.7;
                        }
                        img{
                            width: 4.8rem;
                            height: auto;
                        }
                    }
                    @include md{
                        margin-left: 1.5rem;
                        a{
                            img{
                                width: 2.4rem;
                            }
                        }
                    }
                }
            }
            @include md {
                position: absolute;
                top: 5rem;
                right: 1.5rem;
            }
        }
        .infoBox{
            margin: 3.2rem 0;
            padding-bottom: 3.2rem;
            border-bottom: 1px solid $white;
            li{
                a{
                    display: inline-flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: $white;
                    text-decoration: none;
                    font-size: 3.6rem;
                    transition: 0.3s;
                    &:hover{
                        opacity: 0.7;
                    }
                    .icon{
                        font-size: 4rem;
                        margin: 1rem 1rem 0 0;
                        display: inline-flex;
                        vertical-align: middle;
                    }
                }
            }
            @include md{
                margin: 0 0 2rem;
                padding-bottom: 2rem;
                li{
                    a{
                        font-size: 1.6rem;
                        .icon{
                            font-size: 1.8rem;
                            margin: 0.6rem 1rem 0 0;
                        }
                    }
                }
            }
        }
        .underBox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li{
                    margin-left: 4.8rem;
                    a{
                        color: $white;
                        text-decoration: none;
                        transition: 0.3s;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                    @include md{
                        margin-left: 3rem;
                    }
                }
            }
            @include md{
                display: block;
                ul{
                    display: block;
                    margin-top: 0.8rem;
                    li{
                        margin-left: inherit;
                        &+li{
                            margin-top: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}