header{
    background-color: $red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    .headerInner{
        padding: 1.6rem 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include md{
            padding: 0rem;
            display: block;
            h1{
                padding: 1.6rem 1.5rem;
            }
        }
        nav{
            ul{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li{
                    margin-left: 6rem;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
                @include md{
                    flex-wrap: wrap;
                    li{
                        width: 50%;
                        margin-left: 0;
                        border-top: 1px solid #fff;
                        a{
                            text-align: center;
                            display: block;
                            padding: 1rem;
                        }
                        &:nth-of-type(2n){
                            border-left: 1px solid #fff;
                        }
                    }
                }
            }
        }
    }
}
.positionBlock{
    height: 80.56px;
    @include md{
        height: 170.56px;
    }
}